<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>Tarea 5</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/main.css">
  <style>
    p{
      text-align:justify;
    }
  </style>
</head>
<body>
<p><b>1. Crea un Web App que sea capaz de traer el clima de N ciudades al mismo tiempo. La lista de ciudades va a ser texto separado por comas y se conectara con un
endpoint que activara labdas para cada ciudad.</b></p>
<p></p>
<br>

<p><b>2. Enlista las 3 cosas pricipales que necesitas hacer para lograr tus metas profesionales.</b></p>
<div class="list-group">
  <li>1. Formar un equipo confiable y trabajador para el estudio de vidoejuegos.</li>
  <li>2. Estudiar mas sobre el dise&ntilde;o de videojuegos.</li>
  <li>3. Formar relaciones con personas de la industria de los videojuegos.</li>
</div>
</body>
