<h2>Tareas</h2>
<div class="row">
  <h3>Aquí se encuentran las tareas de la clase</h3>
</div>
<div class="list-group">
  <li><a ng-href="#/tarea01">Tarea 1</a></li>
  <li><a ng-href="#/tarea02">Tarea 2</a></li>
  <li><a ng-href="#/tarea03">Tarea 3</a></li>
  <li><a ng-href="#tarea04">Tarea 4</a></li>
  <li><a ng-href="#tarea05">Tarea 5</a></li>
  <li><a ng-href="#tarea06">Tarea 6</a></li>
  <li><a ng-href="#tarea07">Tarea 7 - Weather Average and Secure</a></li>
  <li><a ng-href="#tarea08">Tarea 8</a></li>

</div>
